
.background{
	position: relative;
	background-image: url("../img/background.jpg");
	height: 900px;
	width: 100%;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.logo{

	position: absolute;
	display: flex;
	margin-left: 67px;
	padding-top: 51px;
	font-size: 28px;
	color:#D9F0FF;
	font-family: 'DancingScript-Bold';
}
.list{
	
	display: flex;
	color:#D9F0FF;
	padding-left:805px;
	line-height: 16px;
	font-size: 12px;
	padding-top: 71px;
	justify-content: flex-end;
	font-family: 'Poppins-Medium';
	
}
.title{
	padding-right: 30px;
}
.title:last-child{
	margin-right:143px;
}
.lorem{
	top:50%;
	left:50%;
	position: absolute;
	font-size: 100px;
	color: #FFFFFF;
	transform: translate(-50%, -50%);
	font-family: 'Lato-Light';
	
}
.box{
	display: flex;
	
}
.about{
	width: 640px;
	height:601px;
	flex-direction: column;
	margin-left: 86px;
	margin-top: 90px;
	margin-bottom: 100px;
	margin-right: 186px;
	width: 50%;
}

.wrapper{
	width: 468px;
	height: 186px;
	font-size: 50px;
	color:black;
	opacity: 100%;
	font-family: 'Lato-Light';
}
.ab-wrapper{
	height: 128px;
	width: 457px;
	font-size: 16px;
	color:black;
	opacity: 50%;
	font-family: 'Poppins-Regular';
}
.bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 36px ;
	background-color: #325DFF;
	color:#FFFFFF;
	width: 307px;
	height: 72px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Lato-Bold';
	

}

.photo{
	background-image: url("../img/photo.jpg");
	background-size: cover;
	width: 100%;
	height:601px;
	margin-bottom: 77px;
	background-position:  center;
	background-repeat: no-repeat;
}


.box-wrap{
	height: 50px;
	width:771px;
	font-size: 35px; 
	text-align: center;
	color:black;
	opacity: 100%;
	font-family: 'Lato-Light';
}
.box-wrapp{
	height: 71px;
	width: 771px;
	margin: 0 auto;
} 

.box1{
	height: 371px;
	width: 374px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left:55px;
	background-color: #FFFFFF;
	border:0.5px solid #CECECE;
	padding-top: 67px;
	padding-bottom: 44px;
	margin-top: 67px;
}
.icon{
	background-color:blue;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height: 88px;
	width: 88px;
	margin: 0 auto;
	
}
.home{
	height: 33px;
	width: 233px;
	text-align: center;
	margin-top:27px;
	margin-bottom: 9px;
	font-family: 'Lato-Regular';
}
.home-box{
	width: 251px;
	text-align: center;
	color:black;
	opacity: 65%;
	font-family: 'Poppins-Light';
}
.line-box2{
	display: flex;
	justify-content: space-around;
	margin-bottom: 119px;
}

.about-box{
	text-align: center;
	color:black;
	opacity: 65%;
	font-family: 'Poppins-Regular';


}
.line-box{
	display: flex;
	justify-content: space-around;

}
